<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .row.content {
            height: 450px
        }

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
    </style>
    <title>Страница регистрации</title>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/warspear">Статьи</a></li>
                <li><a href="/warspear/editor">Добавить свою</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/warspear/login"><span class="glyphicon glyphicon-log-in"></span> Войти/Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-4 text-left">

            <form th:action="@{/warspear/registration/submit}" th:object="${user}" method="post">
                <fieldset>
                    <h2>Введите данные</h2>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Вы ввели неправильные данные
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="username" type="text" class="form-control" name="username"
                               th:field="*{username}" placeholder="почта">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password"
                               placeholder="пароль" required="required" th:field="*{password}"/>
                    </div>
                    <br/>
                    <div>
                        <button type="submit" class="btn btn-success">Зарегистрировать</button>
                    </div>
                </fieldset>
            </form>
            <hr/>
        </div>
    </div>
</div>

</body>
</html>